* {
  box-sizing: border-box;
  xborder-style: solid;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

a:hover {
  color: #d9fb8a;
}

.bio {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: url(/images/gif5.gif);
  background-size: cover;
}

.button1 {
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: white;
  border: 2px solid #d9fb8a;
  width: 100px;
  height: 30px;
}

.button1:hover {
  background-color: #d9fb8a;
  color: black;
}

#checkbox {
  margin: 0;
  height: 18px;
  width: 50px;
  opacity: 0.5;
  background-color: transparent;
  border-style: solid;
  border-color: #d9fb8a;
}

.checkbox1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  color: rgb(170, 168, 168);
}

h1 {
  font-size: 40px;
}

h4 {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
}

input {
  border-style: none;
  background-color: white;
  height: 30px;
  width: 350px;
}

.links-profile {
  display: flex;
  flex-direction: column;
  color: #d9fb8a;
}

.links-bottom {
  display: flex;
  justify-content: center;
  gap: 9px;
}

.link.bottom {
  color: #d9fb8a;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
  grid-gap: 1px;
  border: 2px solid #d9fb8a;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.newsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-items {
  background-color: transparent;
  text-align: center;
}

.profilpic {
  max-width: 200px;
  width: auto;
}

textarea {
  border-style: none;
  background-color: white;
  height: 80px;
  width: 350px;
  resize: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
